.navbar{
   background-color: var(--theme);
   padding: 1.5rem, 1.5rem;
   position: sticky;
   top: 0;
   left: 0;
   width: 98%;
   display: flex;
   justify-content: space-between;
   align-items: center;
  color: var(--white);
  z-index: 1000;
}
.Logo{
   font-weight: 500;
   font-family: 1rem;
   margin: 0;
}
.Link{
   opacity: 0.8;
  cursor: pointer;
  margin-right: 1rem;

}
.Link:hover{
   opacity: 7;
   transition: all 0.3s;
}