.wrapper,
.charts-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
.charts-wrapper{
    justify-content: space-between;
    height: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
    width: 93.5%;
}
.charts-wrapper .piechart{
    display: flex;
    margin-right: 100px;
}